# Azure subscription vars
subscription_id = "96587dff-f596-4825-9e39-9563f9ff9df0"
# client_id     = "..."
# client_secret = "..."
tenant_id = "defd7480-7b38-4ae4-930a-8c636058c8c7"

# Resource Group/Location
location = "East US"
resource_group = "Azuredevops"
application_type = "myApplication"

# Network
virtual_network_name = "dev-network"
address_space = ["10.5.0.0/16"]
address_prefix_test = "10.5.1.0/24"
